/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #0078d7;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
}

form {
    display: flex;
    flex-direction: column;
}

.test-section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0078d7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0078d7;
    color: white;
}

/* Radio Buttons and Labeling */
.mem {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.mem label {
    margin-right: 10px;
    font-weight: bold;
    min-width: 100px;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.radio-group label {
    display: flex;
    align-items: center;
    min-width: 10%;
    margin-bottom: 10px;
    margin-right: 40px;
}

/* SCAT6 Table Styles */
.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.placeholder {
    color: gray;
}

/* Button to Return to Base Menu */
.button-container {
    text-align: center;
    margin-top: 30px;
}

.menu-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.menu-button:hover {
    background-color: #0056b3;
}

/* Styles for Past Assessments Page */
h1 {
    text-align: center;
}

h2 {
    font-size: 1.4em;
    margin-top: 30px;
    color: #0078d7;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.1em;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

